body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

#wrapper {
    width: 100%;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    /* Adjusted width */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #343a40;
}

.topbar {
    width: 100%;
    z-index: 1;
    background-color: #fff;
    /* Added background color for elegance */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Added box shadow for elevation */
}

.card {
    border-radius: 0.5rem;
    border: 1px solid #dee2e6;
    /* Added border for elegance */
}

.card-body {
    padding: 1.5rem;
    /* Increased padding for better spacing */
}

.nav-link {
    display: block;
    padding: 1rem;
    color: #fff;
    transition: all 0.3s;
}

.nav-link:hover {
    background-color: #495057;
    color: #fff;
}

h3,
.text-gray-800 {
    color: #343a40;
}

.chart-area,
.chart-pie {
    position: relative;
    height: 350px;
}

img.img-profile {
    width: 40px;
    height: 40px;
}

#content-wrapper {
    flex-grow: 1;
    padding: 0px;
    /* Increased padding for better spacing */
    /* margin-left: -20px; */
    /* Adjusted margin */
    width: calc(100% - 240px);
    /* Adjusted width */
}

#content-wrapper1 {
    flex-grow: 1;
    padding: 20px;
    /* Increased padding for better spacing */
    margin-left: 250px;
    /* Adjusted margin */
    width: calc(100% - 240px);
    /* Adjusted width */
}